/*.scen {
    transform: rotate(-90deg);
    transform-origin: left top 0;
}
*/
.btns {
    position: absolute;
    bottom: 35px;
    left: 47.5%;
}

.display {
    margin-top: 5%;
}

th.scen {
    text-align: center;
}

td.cellI {
    text-align: none;
}

td.cell {
    text-align: center;
}
/*
.tbl {
    display: none;
}
*/