.btns {
    position: absolute;
    bottom: 35px;
    left: 45%;
}

.display {
    margin-top: 5%;
}

th.scen {
    text-align: center;
}

td.cellI {
    text-align: none;
}

td.cell {
    text-align: center;
}

.tbl {
    display: none;
}