@import '../../node_modules/react-selectize/themes/index.css';

.head-s {
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
    margin-top: 35px;
}

.head1-s {
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

h2.s {
    font-size: 25px;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
    border-bottom: solid #666 1px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    padding-bottom: 5px;
}