body {
    background: url("./images/bg-normal.jpg") 100% fixed ;
    
}
#root {
    height: 100vh;
}
.App {
    margin: auto;
    background: url("./images/bg-blur-frosted.jpg") 100% fixed;
    display: flex;
    flex-flow: column;
    position: relative;
    width: 90%;
    height: 100%
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    text-align: center;
    padding: 20px;
    color: #666;
}

.App-title {
    font-size: 3em;
}

.App-content {
    flex: 1;
    display: flex;
    position: relative;
    height: auto;
    padding-bottom: 2em;
}
.App-content * {
    padding: 1em;
}
.App-content .pad {
    flex: 1;
}
.App-content .main {
    background: #F5F6F7;
    min-width: 300px;
    flex: 2;
    border-radius: 10px;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
